{% load static %}
<footer>
    <div class="wrapper">
        <div class="row-1">
            <div class="col-1">
                <div class="logo">
                    <img src="{% static 'main/img/logo/logo.png' %}" alt="">
                    <p>Колледж информационных технологий</p>
                </div>
            </div>
            <div class="col-2">
                <h3>Контакты:</h3>
                <h4>Адрес: </h4>
                <p>г.Павлодар, ул. Лермонтова 93</p>
                <h4>Телефон: </h4>
                <p>8(7182)62-58-06</p>
                <h4>e-mail: </h4>
                <p>kit.pvl@mbx.kz</p>
            </div>
        </div>

        <div class="row-2">
            <p>KIT 2023</p>
        </div>
        
    </div>
</footer>