{% extends 'main/base.html' %}

{% block content %}
    <section>
        <div class="wrapper demo">
            <h1>Демонстрационный экзамен</h1>

            <div class="demo-info">
                <h2>Что такое демонстрационный экзамен?</h2>
                <p>
                    Демонстрационный экзамен – квалификационный экзамен или итоговая аттестация нового формата.
                </p>
                <p>
                    Демонстрационный экзамен – модель независимой оценки качества подготовки выпускников (сертификация).
                </p>
            </div>

            <div class="demo-info">
                <h2>Чем отличается демонстрационный экзамен от действующего подхода?</h2>
                <p>
                    В целом демонстрационный экзамен, как и при действующем подходе предусматривает процедуру демонстрации и независимой экспертной оценки практических навыков, уровня знаний и умений в условиях моделирования реальных услуг и производственных процессов.
                </p>
                <p>
                    Ключевым отличием является использование требований (стандартов) WorldSkills с современным мультикритериальным методом оценки.
                </p>
            </div>

            <div class="demo-info">
                <h2>Основа для проведения демонстрационного экзамена?</h2>
                <p>
                    — Государственная программа развития образования и науки Республики Казахстан на 2020 — 2025 годы; (Показатель: 100% доля государственных колледжей технического и технологического профиля, проводящих демонстрационные экзамены с учетом стандартов WorldSkills к 2025 году);
                </p>
                <p>
                    — ГОСО (приказ Министра образования и науки Республики Казахстан от 31 октября 2018 года № 604);
                </p>
                <p>
                    — Типовые правила проведения текущего контроля успеваемости, промежуточной и итоговой аттестации обучающихся для организаций среднего, технического и профессионального, послесреднего образования (приказа МОН РК от 18.03.2008г. №125);
                </p>
                <p>
                    — Рекомендации по организации и проведению демонстрационного экзамена (на сайте www.worldskills.kz.). 
                </p>
            </div>

            <div class="demo-info">
                <h2>Кто может сдавать демонстрационный экзамен?</h2>
                <p>
                    Демонстрационный экзамен могут сдавать студенты и выпускники, освоившие профессиональные модули в организациях ТиПО или учебных центрах.
                </p>
            </div>

            <div class="demo-info">
                <h2>Кто разрабатывает задание для демонстрационного экзамена?</h2>
                <p>
                    Экспертная группа организаций ТиПО или учебных центров, ответственных за проведения демонстрационного экзамена.
                </p>
            </div>

            <div class="demo-info">
                <h2>Кем проводится, и кто будет оценивать?</h2>
                <p>
                    Участие в оценивании принимают работники/эксперты соответствующего профиля предприятий, которые могут наглядно убедиться в качестве подготовки студента/выпускника  и его возможностях, демонстрируемых на экзамене.
                </p>
            </div>

            <div class="demo-info">
                <h2>Продолжительность демонстрационного экзамена?</h2>
                <p>
                    Продолжительность демонстрации практических навыков не более 12 часов на одного экзаменуемого.
                </p>
            </div>

            <div class="demo-info">
                <h2>Что такое система CIS?</h2>
                <p>
                    CIS (Competition Information System) — это специализированное программное обеспечение для обработки информации во время демонстрационного экзамена или чемпионатов WorldSkills. Доступ к системе предоставляется Национальным оператором движения WorldSkills в соответствии с установленными требованиями.
                </p>
            </div>

            <div class="demo-info">
                <h2>Как проводится процесс оценивания?</h2>
                <p>
                    Предварительно разрабатываются критерии оценивания экспертами. Критерии оценивания допускают от 50 до 300 аспектов и они вводится в CIS для оценки результатов.  Экспертная группа из числа работников предприятий и колледжа выставляют баллы по критериям, которые обрабатываются в Системе CIS (Competition Informational System – информационная система для оценки) и оформляет результат.
                </p>
            </div>

            <div class="demo-info">
                <h2>Что в итоге получат студенты/выпускники, прошедшие демонстрационные экзамены?</h2>
                <p>
                    Студенты/выпускники получат Паспорт компетенций (Skills Passport). Это приложение к диплому, т.е. электронный паспорт профессионала. Работодатели могут увидеть, сколько баллов и за какие именно профессиональные умения и навыки получил выпускник. Ознакомиться с паспортом экзаменуемых можно на сайте <a href="https://worldskills.kz" target="blank">www.worldskills.kz</a>.
                </p>
            </div>

        </div>
    </section>
{% endblock %}